---
layout: default
---
<article class="topic" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="topic-header">
    <h1 class="topic-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="topic-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="topic-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
